<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>

<listener class-name="mytest.listeners"/>
<listener class-name="source.ExtentReporterNG"></listener>

</listeners>
  <test thread-count="5" name="validation user name and password">
    <classes>
      <class name="mytest.HomePage"/>
      </classes>
      </test>
      <test name="validation title into homepage">
      <classes>
      <class name="mytest.validationtitle"/>
      </classes>
      </test>
      
      <test name="apptest">
      <classes>
      <class name="mytest.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
